.screenfull{
	width:100%;	
}

.screen980{
	width:980px;	
}

.mainScreenHeight{	
	margin-top: 51px;		
}

.parentLightGrayFG{
	color:#F7F7F7;
}
.parentLightGrayBG{
	background-color:#F7F7F7;
}

.headerBtn{
	height: 30px;
	background-color: white;
	color:#a70e18;
	border-radius: 1.5px;
	font-size: 13px;
	font-weight:500;
}
