.presentbxContainer{  
	width: 100%;
	height: 310px;
	background-color: black;
}
.presentbxWrap{	
	height: 100%;	
}
.bulletPoints{
	width: 100%;
	margin-top: 6px;
}
.bulletPoints:first-child{
	margin-top: 0px;
}

.courseTemplate{
	background-color: #efeded;
	padding: 20px;
}