.bodystrip{  
	width: 100%;
  height: 62.5vh;
  max-width: 100%;
	background-image: url('/assets/img/bgbuk3.jpg');
	background-position: center center; 
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #253340;  
	position: absolute;	
}

.customRow{
  width:100%;
  height: auto; 
}

.tileContainer{
  width: 100%;
  height: auto;  
  position: relative;     
}

.titleContainer{
  width: 94%;   
  height: auto;; 
  position: absolute;
  top: 0px;
  left: 0px;   
}
.titleWrap{
  width:100%;   
  background-color: rgba(51, 51, 51, 0.95);
}

.iconWrap{
  height: 100%;  
}
.iconWrap img {
  width: 100%;
}
.title{
  height: 100%;  
  margin-left: 4px;  
}
.title span{
  font-weight: 500;
  color:white;
}

.tileDescWrap{
  width:94%;
  height: auto; 
  margin-left: 6%;
  padding-top: 5%;  
}

.descBx{
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: white;
}
.subtitle{
  width: 100%;
  height: auto; 
}
.subtitle span{
  font-weight: 500;
  color:black;
  word-wrap: break-word;
}
.metadetails{
  width: 100%;
  height: auto;
  margin-top: 6px; 
}
.details1,.details2{
  height: 20px;
}
.profname{
  font-size: 12px;
  font-weight: 600;
  color:black;
}
.details2{
  margin-left: 2px;
}
.details2 span{
   color:gray;
}

.allTopics{
  margin-left: 2.5%;
  width: 23%;
}
.allTopics:first-child{
  margin-left: 0px;
}